/* shared styles */
header{
    background-color: #FFFFFF;
    padding-left: 120px;
    padding-right: 120px;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Nav bar */

.nav-bar-header{
    font-size:1.5rem ;
    font-weight: 700;
    color: #3A3A3A;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-link > a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 34px;
}
.nav-bar-link > i{
    size: 2rem;
    margin-right:34px ;
}
.banner-header{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
    margin-top: 145px;
}
.banner-description{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-top: 16px;
}
.banner-button{
    background-color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    color: white;
    padding:10px 14px  10px 24px;
    border: none;
    cursor: pointer;
    margin-top: 16px;
}
.banner-page-part2{
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    width: 475px;
    height: 475px;
    margin-top: 50px;
}
.banner-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}